@page "/RegisterConfirmation/"
@model ShopOnline.Areas.Identity.Pages.RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirm Registration";
}

<h1>@ViewData["Title"]</h1>
<p>
    Email has sent to you, please open the mail and follow the instructions 
    <a href="@Model.UrlContinue">Click here to continue</a>
</p>